AUTH0_DOMAIN=aaa
AUTH0_CLIENTID=aaa
AUTH0_CLIENTSECRET=aaa
EXPRESS_SECRET=aaa
MONGODB_URL=aaa
JWT_SECRET=aaa
JWT_TTL=aaa
JWT_ISSUER=aaa
JWT_AUDIENCE=aaa
ELASTICSEARCH_URL=aaa
PDC_KIBANA_DASHBOARD_LINK=aaa
ALLOW_RETURNTO=aaa
DEFAULT_RETURNTO=aaa
BEHIND_PROXY=false
